<%= form_with model: @stamp do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :stampbook_id, "登録する御朱印帳" %>
  <%= f.collection_select(:stampbook_id, @stampbooks, :id, :name, {prompt: "御朱印帳を選んでください"}, {class: 'form-control'}) %>
</div>

<div class="form-group">
  <%= f.label :name, "御朱印名" %>
  <%= f.text_field :name, autofocus: false, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :given_date, "取得日" %>
  <%= f.date_field :given_date, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :photo, "御朱印の画像" %>
  <div id="img_field-s" onClick="$('#file').click()">
    <% if @stamp.photo.present? %>
    <%= image_tag(@stamp.photo.to_s, size: "300x400", auto_orient: true) %>
    <% else %>
    <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
    <% end %>
  </div>
  <%= f.file_field :photo, class: 'form-control-file', style: "display:none;", id: "file" %>
</div>

<div class="form-check">
  <p>
    <label>
      <%= f.check_box :remove_photo, class: 'form-check-input' %> 画像を削除する
    </label>
  </p>
</div>

<div class="form-check form-check-inline">
  <%= f.radio_button(:distinction, "神社", class: 'form-check-input') %>
  <%= f.label(:distinction, "神社", value: "神社", class: 'form-check-label') %>
  <%= f.radio_button(:distinction, "寺院", class: 'form-check-input') %>
  <%= f.label(:distinction, "寺院", value: "寺院", class: 'form-check-label') %>
</div>

<div class="form-group">
  <%= f.label :remarks, "説明文" %>
  <%= f.text_area :remarks, autofocus: false, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.submit "送信", class: "btn btn-primary btn-block btn-lg" %>
</div>
<% end %>