<% provide :title, '御朱印一覧' %>
<div class="container">
  <h2><i class="fas fa-stamp stamp-color"></i> みんなの御朱印</h2>
  <ul class="stamps">
    <% @stamps.each do |stamp| %>
    <li>
      <span class="stamp-name"><%= link_to stamp.name, stamp %></span><br />
      <%= image_tag stamp.photo.to_s, class: "stamp", size:  "200x300" %>
      <span class="stampbook-name"><i class="fas fa-book stampbook-color"></i> <%= link_to stamp.stampbook.name, stamp.stampbook %></span>
      <span>取得日<%= stamp.given_date %></span>
      <span>メモ<%= stamp.remarks %></span>
    </li>
    <% end %>
  </ul>
  <%= paginate @stamps %>
</div>