<%= form_with model: @post do |f| %>
<%= render 'shared/error_messages', object:f.object %>
<div class="form-group">
  <%= f.text_area :content, size: "50x5", class: "form-controll", placeholder: "投稿記事を書いてください" %>
</div>
<div class="picture">
  <%= f.label "画像添付時は下記をタップ" %>
  <div id="img_photo" onClick="$('#file').click()">
    <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
  </div>
  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control-file', style: "display:none;", id: "file" %>
  <%= f.hidden_field :picture_cache %>
</div>
<%= f.submit "投稿する", class: "btn btn-primary"%>

<% end %>