<li id="post-<%= post.id %>" data-post-id="<% post.id %>">
  <%= image_tag post.user.avatar.to_s, class: "border mb-2 mx-auto", size: "50x50", alt: "アバター" %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    <i class="far fa-clock"></i> <%= time_ago_in_words(post.created_at) %>前
    <%= link_to "削除", post, method: :delete, data: {confirm: "削除しますか？"} %>
  </span>
  <%= render "likes/like", post: post %>
</li>